@import "~bootstrap/scss/bootstrap";

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

.reactMarkDown ol, .reactMarkDown ul, .reactMarkDown dl {
  margin: 0;
  white-space: normal;
}

.reactMarkDown pre {
  margin: 0;
}

.reactMarkDown pre button {
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
  position: relative;
  left: 10px;
}

::-webkit-scrollbar-thumb {
  height: 30%;
  background: #217af4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}
